PORT=2009
JWT_SECRET=ff-safetrade-secret-key-change-in-production
PAYSTACK_SECRET_KEY=sk_live_8365dfacd959e02962a550b0968d04afef97a32b
PAYSTACK_PUBLIC_KEY=pk_live_d3341e2d8eb01ffb5d476c25b376652298eef6fe
NODE_ENV=development
